<div class="export-controls">
    <button id="export-excel-button" (click)="exportAsExcel()">Export to Excel</button>
    <button id="export-pdf-button" (click)="exportAsPdf()">Export to PDF</button>
</div>

<ag-grid-angular
    style="width: 100%; height: 500px;"
    class="ag-theme-quartz"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [excelStyles]="excelStyles" 
    [pagination]="true"
    [paginationPageSize]="100"
    (gridReady)="onGridReady($event)"
    [rowHeight]="50"
    [headerHeight]="50">
</ag-grid-angular>
